<div class="industries-area-container">
  <div class="industries-area-tabs">
    <div
      *ngFor="let industry of industryService.industries"
      class="tab active-tab"
      [ngClass]="
        industry.name !== currentIndustry?.name ? 'innactive-tab' : 'active-tab'
      "
      (click)="setCurrentIndustry(industry)"
    >
      {{ industry.name }}
    </div>
  </div>
  <div class="industries-area-content" *ngIf="currentIndustry">
    <div class="content-description">
      <div class="industry-photo">
        <div class="mask">
          <img [src]="currentIndustry.img.media.url" alt="" />
        </div>
        <img class="frame" alt="" />
      </div>
      <div class="industry-description">
        {{ currentIndustry.description }}
      </div>
    </div>
    <div class="content-bullets">
      <div class="industry-services">
        <div class="services-title">Servicios</div>
        <ul>
          <div *ngFor="let item of currentIndustry.services" class="list-item">
            <div class="marker"></div>
            <li>
              {{ item }}
            </li>
          </div>
        </ul>
      </div>
      <div class="industry-benefits">
        <div class="benefits-title">Beneficios</div>
        <ul>
          <div *ngFor="let item of currentIndustry.benefits" class="list-item">
            <div class="marker"></div>
            <li>
              {{ item }}
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
