<div class="industries-area-container flex-column flex">
  <div
    class="industries-area-tabs align-self-start lg:align-self-center flex flex-row overflow-x-scroll px-3 lg:px-0"
  >
    <h3
      *ngFor="let industry of industryService.industries"
      class="tab primary-font"
      [ngClass]="
        industry.name !== currentIndustry?.name ? 'innactive-tab' : 'active-tab'
      "
      (click)="setCurrentIndustry(industry)"
    >
      {{ industry.name }}
    </h3>
  </div>
  <div
    class="industries-area-content flex-column align-items-center flex"
    *ngIf="currentIndustry"
  >
    <div
      class="content-description justify-content-center align-items-center flex-column flex gap-5 lg:flex-row lg:gap-7"
    >
      <div class="industry-photo">
        <div class="mask">
          <img
            [src]="currentIndustry.img.media.url"
            [alt]="currentIndustry.img.media.altText"
          />
        </div>
        <img class="frame" alt="" />
      </div>
      <p class="industry-description secondary-font">
        {{ currentIndustry.description }}
      </p>
    </div>
    <div class="content-bullets">
      <div class="industry-services flex-column flex">
        <h4 class="services-title">Servicios</h4>
        <ul>
          <div *ngFor="let item of currentIndustry.services" class="list-item">
            <div class="marker"></div>
            <li class="secondary-font">
              {{ item }}
            </li>
          </div>
        </ul>
      </div>
      <div class="industry-benefits flex-column flex">
        <h4 class="benefits-title primary-font">Beneficios</h4>
        <ul>
          <div *ngFor="let item of currentIndustry.benefits" class="list-item">
            <div class="marker"></div>
            <li>
              {{ item }}
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
