@import '../../industries.component.scss';

.industries-area-container {
  width: auto;

  max-width: 100vw;

  margin-top: 2.5rem;

  padding-block: 2.5rem;

  justify-content: center;
  justify-self: center;

  gap: 4rem;

  .industries-area-tabs::-webkit-scrollbar {
    display: none;
  }

  .industries-area-tabs {
    width: min-content;
    max-width: 100%;

    gap: 24px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    .tab {
      min-width: fit-content;

      margin-block: 0;

      padding-inline: 1.5rem;
      padding-block: 0.5rem;
      font-weight: 400;
      font-size: 1.5rem;
      border-radius: 40px;

      text-wrap: nowrap;

      @media screen and (max-width: 389px) {
        font-size: 1.25rem;
        padding-inline: 1rem;
      }
    }

    .active-tab {
      border: solid;
      background-color: $primaryLightColor;
      color: $primaryDarkColor;

      border-color: $primaryColor;
    }

    .innactive-tab {
      background-color: rgba(255, 0, 0, 0);
      color: $lightgray;
      border: solid 1px $lighterGray;

      cursor: pointer;
    }

    .innactive-tab:hover{
      border: solid 1px $primaryDarkColorAlt;
    }
  }

  .industries-area-content {
    margin-inline: 6rem;
    gap: 2.5rem;

    @media screen and (max-width: 768px) {
      margin-inline: 1rem;
    }

    .content-description {
      .industry-photo {
        height: 262px;
        width: 225px;

        display: grid;

        .mask {
          width: 100%;
          height: 16.375rem;

          grid-column: 1;
          grid-row: 1;

          mask-image: url('/assets/svg/biocro n_industry_mask.svg');
          mask-position: center;
          mask-repeat: no-repeat;
          -webkit-mask-image: url('/assets/svg/biocron_industry_mask.svg');

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .frame {
          content: url('/assets/svg/biocron_industry_frame.svg');

          width: 100%;
          height: 100%;

          grid-column: 1;
          grid-row: 1;

          z-index: 2;
        }
      }

      .industry-description {
        align-self: center;

        font-weight: 300;

        line-height: 1.5rem;

        width: 28.5rem;

        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }
    }

    .content-bullets {
      margin: 0.5rem;

      width: fit-content;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 2.5rem;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      li {
        line-height: 1.5rem;
      }

      .industry-services {
        width: auto;
        max-width: 440px;

        @media screen and (max-width: 768px) {
          max-width: fit-content;
        }

        .services-title {
          font-size: 1.25rem;
          font-weight: 400;
          color: $primaryDarkColor;
          line-height: 1.75rem;

          margin-block: 0;
        }

        ul {
          padding-left: 0;
          list-style: none;

          .list-item:not(:last-child) {
            margin-bottom: 1rem;
          }

          .list-item {
            display: flex;
            flex-direction: row;

            align-items: flex-start;

            .marker {
              background-image: url('/assets/svg/biocron_bullet_marker_palynomorph.svg');
              min-height: 1.5rem;
              min-width: 1.5rem;
              margin-right: 0.5rem;
            }
          }

          li {
            font-weight: 400;
            color: $smoothGray;
            line-height: 24px;
          }

          li:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }

      .industry-benefits {
        width: auto;
        max-width: 440px;

        @media screen and (max-width: 768px) {
          max-width: fit-content;
        }

        .benefits-title {
          font-size: 1.25rem;
          color: $secondaryDarkColor;
          line-height: 1.75rem;

          font-weight: 400 ;

          margin-block: 0;
        }

        ul {
          padding-left: 0;
          list-style: none;

          .list-item:not(:last-child) {
            margin-bottom: 1rem;
          }

          .list-item {
            display: flex;
            flex-direction: row;

            align-items: flex-start;

            li {
              font-weight: 300;
              color: $smoothGray;
              line-height: 24px;
            }

            .marker {
              background-image: url('/assets/svg/biocron_bullet_marker_big_check.svg');
              min-height: 1.5rem;
              min-width: 1.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
