<div class="hero-container">
  <div class="background">
    <!-- TODO: add autoplay interval time after implementing the rest of the home components -->
    <!-- [autoplayInterval]="6000" -->
    <p-carousel
      class="hero-carousel"
      [value]="images"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [orientation]="'horizontal'"
      [showNavigators]="false"
      [showIndicators]="false"
    >
      <ng-template let-image pTemplate="img">
        <img [src]="image.src" [alt]="image.alt" class="carousel-image" />
      </ng-template>
    </p-carousel>
  </div>
  <div class="hero-card">
    <div class="card-background"></div>
    <div class="card-content">
      <div class="card-text">
        <div class="title">{{ title }}</div>
        <div class="description">{{ description }}</div>
      </div>
      <p-button
        [routerLink]="['/servicios']"
        class="services-button"
        label="Conoce nuestros servicios"
      ></p-button>
    </div>
  </div>
</div>
