<div class="hero-container">
  <div class="background">
    <p-carousel
      *ngIf="images"
      [autoplayInterval]="6000"
      class="hero-carousel"
      [value]="images.images"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [orientation]="'horizontal'"
      [showNavigators]="false"
      [showIndicators]="false"
    >
      <ng-template let-image pTemplate="item">
        <div
          class="carousel-image-container"
          [ngStyle]="{ 'background-image': 'url(' + image.media.url + ')' }"
        ></div>
      </ng-template>
    </p-carousel>
    <div class="gradient-overlay"></div>
  </div>
  <div class="hero-card">
    <div class="card-background"></div>
    <div class="card-content">
      <div class="card-text">
        <h1 class="title primary-font">{{ title }}</h1>
        <p class="description secondary-font">{{ description }}</p>
      </div>
      <button
        class="services-button primary-font"
        pButton
        [routerLink]="['/servicios']"
      >
        <span pButtonLabel>{{ buttonText }}</span>
      </button>
    </div>
  </div>
</div>
