<div class="team-container">
  <div class="team-card">
    <div
      class="team-background"
      [ngStyle]="{
        'background-image': 'url(' + backgroundImage!.media.url + ')',
      }"
    ></div>
    <div class="team-gradient"></div>
    <div class="team-content">
      <div class="content-container">
        <h4 class="title primary-font text-center md:text-left">
          {{ teamContent!.title }}
        </h4>
        <p class="description secondary-font text-center md:text-left">
          {{ teamContent!.description }}
        </p>
      </div>
    </div>
  </div>
</div>
