<div class="container" *ngIf="contactService.contactUsContent">
  <div class="contact-section">
    <div class="contact-section-title">
      {{ contactService.contactUsContent.title }}
    </div>
    <div class="contact-section-description">
      {{ contactService.contactUsContent.description }}
    </div>
    <p-button
      [label]="contactService.contactUsContent.contact_button_text"
      (onClick)="goToContactUs()"
    />
  </div>
  <div class="info">
    <div class="info-section">
      <div class="info-section-title">
        {{ contactService.contactUsContent.phone_number_title }}
      </div>
      <div class="info-description info-phone">
        {{ contactService.contactUsContent.phone_number }}
      </div>
    </div>
    <div class="info-section">
      <div class="info-section-title">
        {{ contactService.contactUsContent.emait_title }}
      </div>
      <div class="info-description info-email">
        {{ contactService.contactUsContent.email_address }}
      </div>
    </div>
    <div class="info-section">
      <div class="info-section-title">
        {{ contactService.contactUsContent.opening_hours_title }}
      </div>
      <div class="info-description info-open-hours">
        {{ contactService.contactUsContent.opening_hours }}
      </div>
    </div>
  </div>
</div>
