@import '../../../styles.scss';

.container {
  width: 100%;

  display: flex;
  flex-direction: row;

  margin-block: 4rem;

  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    justify-content: center;
    text-align: start;

    width: 34.5rem;
    padding: 2.5rem;

    .contact-section-title {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    text-align: start;

    gap: 2rem;

    .info-section {
      .info-description {
        color: $primaryDarkColor;
        line-height: 2rem;
      }
      .info-phone {
        font-size: 2rem;
      }

      .info-email {
        text-decoration: underline;
      }

      .info-email,
      .info-open-hours {
        font-size: 1.5rem;
      }
    }
  }
}
