<div class="company-values-container">
  <div class="title primary-font">{{ title }}</div>
  <div class="content flex-column flex lg:flex-row">
    <div class="content-img">
      <img [src]="image!.media.url" alt="value" />
    </div>
    <div class="values lg:w-25rem w-auto">
      <div
        *ngFor="let value of aboutUsService.values; index as i"
        class="value"
      >
        <div
          class="value-title primary-font"
          [ngClass]="
            value.title !== currentValue?.title
              ? 'innactive-value'
              : 'active-value'
          "
          (click)="setCurrentValue(value)"
        >
          <img
            class="value-marker"
            [ngClass]="
              value.title !== currentValue?.title ? 'innactive' : 'active'
            "
            [src]="'/assets/svg/biocron_right_arrow_marker.svg'"
          />
          {{ value.title }}
        </div>
        <div
          class="value-description secondary-font"
          [ngClass]="
            value.title !== currentValue?.title ? 'innactive' : 'active'
          "
        >
          {{ value.description }}
        </div>
      </div>
    </div>
  </div>
</div>
