@import '../about-us.component.scss';

.company-values-container {
  width: 100%;
  margin-block: 7.5rem;

  gap: 2.5rem;

  @media screen and (max-width: 992px) {
    gap: 1.5rem;
    margin-block: 5rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;

  .title {
    color: $primaryDarkColor;
    line-height: 3.5rem;
    font-size: 3rem;
    font-weight: bold;
    align-self: center;

    margin-block: 0;

    @media screen and (max-width: 992px) {
      margin-inline: 16px;
    }
  }

  .content {
    height: fit-content;
    align-self: center;

    margin-inline: 76px;

    @media screen and (max-width: 769px) {
      width: 100%;
      margin-inline: 0;
      gap: 0.5rem;
    }

    gap: 4rem;

    @media screen and (min-width: 770px) and (max-width: 992px) {
      gap: 2rem;
    }

    .content-img {
      height: fit-content;
      border-radius: 0.5rem;
      display: flex;
      overflow: hidden;

      justify-content: center;
      padding-left: 40%;

      width: 456px;

      @media screen and (max-width: 992px) {
        width: auto;
        margin-inline: 16px;
        padding-left: 0;
      }

      img {
        height: 532px;

        @media screen and (min-width: 770px) and (max-width: 992px) {
          width: 100%;
        }

        @media screen and (max-width: 769px) {
          height: 240px;
        }

        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .values {
      display: flex;
      flex-direction: column;

      justify-content: center;

      height: 100%;

      @media screen and (max-width: 769px) {
        margin-inline: 16px;
      }

      .value {
        width: 100%;

        padding-block: 1.5rem;

        gap: 1rem;

        display: flex;
        flex-direction: column;

        text-align: start;

        border-bottom: $borderGray 1px solid;

        .value-title {
          display: flex;

          gap: 0.5rem;

          font-size: 2rem;
          font-weight: 600;

          margin-block: 0;

          @media screen and (max-width: 389px) {
            font-size: 1.5rem;
          }

          line-height: 2.5rem;

          .value-marker {
            align-self: center;
            justify-self: start;

            min-height: 1.25rem;
            min-width: 2.5rem;

            @media screen and (max-width: 769px) {
              min-height: 0.5rem;
              min-width: 1.5rem;
            }

            margin-right: 0.5rem;
          }
        }

        .value-description {
          line-height: 1.5rem;

          @media screen and (max-width: 389px) {
            font-size: 0.875rem;
          }
        }

        .active-value {
          cursor: default;
        }

        .innactive-value {
          cursor: pointer;
        }

        .innactive-value:hover {
          text-decoration: underline;
        }

        .innactive {
          display: none;
        }

        .active {
          display: block;
        }
      }
    }
  }
}
