<div>
  <comp-especial-heading
    *ngIf="headingContent && headingBackgroundImage"
    [viewName]="headingContent.name"
    [viewTitle]="headingContent.title"
    [viewDescription]="headingContent.description"
    [backgroundImage]="headingBackgroundImage"
  ></comp-especial-heading>

  <comp-mision-vision
    *ngIf="
      missionContent &&
      visionContent &&
      missionBackgroundImage &&
      visionBackgroundImage
    "
    [mision]="missionContent"
    [missionBackgroundImage]="missionBackgroundImage"
    [vision]="visionContent"
    [visionBackgroundImage]="visionBackgroundImage"
  ></comp-mision-vision>
  <comp-company-values
    *ngIf="companyValuesContent && companyValuesSideImage"
    [title]="companyValuesContent.title"
    [image]="companyValuesSideImage"
  ></comp-company-values>
  <comp-team
    *ngIf="teamContent && teamBackgroundImage"
    [teamContent]="teamContent"
    [backgroundImage]="teamBackgroundImage"
  >
  </comp-team>

  <comp-why-us *ngIf="whyUsContent" [whyUsContent]="whyUsContent"></comp-why-us>
</div>
