<div class="mision-vision-container">
  <div class="mision">
    <div class="mision-image">
      <img src="{{ mision.image }}" alt="mision" />
    </div>
    <div class="mision-gradient"></div>

    <div class="mision-content">
      <div class="mision-title">{{ mision.title }}</div>
      <div class="mision-description">{{ mision.description }}</div>
    </div>
  </div>
  <div class="vision">
    <div class="vision-image">
      <img src="{{ vision.image }}" alt="vision" />
    </div>
    <div class="vision-gradient"></div>

    <div class="vision-content">
      <div class="vision-title">{{ vision.title }}</div>
      <div class="vision-description">{{ vision.description }}</div>
    </div>
  </div>
</div>
