<div class="mision-vision-container flex-column flex md:flex-row">
  <div
    class="mision"
    [ngStyle]="{
      'background-image': 'url(' + missionBackgroundImage!.media.url + ')',
    }"
  >
    <div class="mision-gradient"></div>

    <div class="mision-content">
      <h1 class="mision-title primary-font">{{ mision!.title }}</h1>
      <p class="mision-description secondary-font">
        {{ mision!.description }}
      </p>
    </div>
  </div>
  <div
    class="vision"
    [ngStyle]="{
      'background-image': 'url(' + visionBackgroundImage!.media.url + ')',
    }"
  >
    <div class="vision-gradient"></div>

    <div class="vision-content">
      <h1 class="vision-title primary-font">{{ vision!.title }}</h1>
      <p class="vision-description secondary-font">
        {{ vision!.description }}
      </p>
    </div>
  </div>
</div>
