@import '../blog.component.scss';

.articles-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-block: 5rem;

  padding-inline: 1rem;

  gap: 2.5rem;

  justify-items: center;
  align-items: center;

  .articles-list {

    display: grid;
    grid-template-columns: auto auto auto;

    gap: 1.5rem;

    justify-content: center;

    @media screen and (max-width: 1024px) {
      grid-template-columns: auto auto;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: auto;
    }

    width: 100%;

    max-width: 1128px;

  }
}
