<div class="articles-container">
  <comp-featured-article
    *ngIf="featuredArticle"
    [article]="featuredArticle"
  ></comp-featured-article>

  <div class="articles-list">
    <comp-article-card
      *ngFor="let article of articles"
      [article]="article"
    ></comp-article-card>
  </div>
  <div class="load-more">
    <button
      pButton
      class="input-button"
      *ngIf="!loading && !displayedAllArticles"
      (click)="loadMore()"
    >
      {{ loadMoreText }}
    </button>
  </div>
</div>
