@import '../../../styles.scss';

.header-container {
  position: absolute;

  z-index: 1;

  width: 100%;
  height: 5rem;

  background: linear-gradient($unpureWhite 0%, $unpureWhite80 100%);

  border-image: linear-gradient(
      to right,
      $primaryLightColorGradient 0%,
      $primaryLightColor 25%,
      $primaryDarkColor 50%,
      $primaryLightColor 75%,
      $primaryLightColorGradient 100%
    )
    1;
  border-width: 0 0 0.125rem;
  border-style: solid;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 9.75rem;

  .header-links {
    display: flex;
    gap: 0.5rem;

    a {
      color: $primaryDarkColor;
      text-decoration: none;
      padding-inline: 0.75rem;
      padding-block: 0.375rem;
    }
  }
}
