@import '../../../styles.scss';

.header-absolute {
  position: absolute;
  top: auto;
}

.header-sticky {
  position: sticky;
  top: 0;
}

.header-container {
  z-index: 3;

  width: 100%;
  height: auto;
}

.menu-button {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;

  backdrop-filter: blur(8px);

  padding: initial;
}

.menu-button-dark {
  border-color: $transparentWhite12;
  background-color: $menuButtonBackgroundDark;
  color: $pureWhite;
}

.menu-button-light {
  border-color: transparent;
  background-color: transparent;
  color: $primaryDarkColor;
}

.visible {
  display: flex;

  // TODO: Insert animation after responsive design is complete
  // animation: appear 0.4s;
}

.not-visible {
  display: none;
}

@keyframes appear {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
  }
}

.current-route {
  color: $primaryDarkColor;
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}

.header-container-light {
  background: linear-gradient($unpureWhite 0%, $unpureWhite80 100%);

  border-image: linear-gradient(
      to right,
      $primaryLightColorGradient 0%,
      $primaryLightColor 25%,
      $primaryDarkColor 50%,
      $primaryLightColor 75%,
      $primaryLightColorGradient 100%
    )
    1;
  border-width: 0 0 0.125rem;
  border-style: solid;
}

.header-container-dark {
  background: transparent;

  border-width: 0;

  color: $smoothWhite;
}

.header-body {
  padding: 1.25rem 9.75rem;
  transition: all 0.4s ease-in-out;
  transition-behavior: allow-discrete;

  @media screen and (max-width: 992px) {
    padding: 1.25rem 24px;
  }

  .biocron-home-link {
    .biocron-logo {
      height: 2.25rem;
      min-height: 32px;
    }
  }

  .header-links {
    gap: 0.5rem;

    @media screen and (max-width: 425px) {
      gap: 0.25rem;
    }

    a {
      text-decoration: none;
      padding-inline: 0.75rem;
      padding-block: 0.375rem;

      @media screen and (max-width: 425px) {
        font-size: 12px;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .header-links-dark {
    a {
      color: $primaryDarkColor;
    }
  }

  .header-links-light {
    a {
      color: $contrastWhite;
    }
  }
}

.header-body-light {
  .header-links {
    a {
      color: $primaryDarkColor;
    }
  }
}

.header-body-dark {
  .header-links {
    a {
      color: $contrastWhite;
    }
  }
}
