<div class="header-container">
  <div class="header-body">
    <a>
      <img src="assets/svg/biocron_logo_primary_dark.svg" />
    </a>
    <div class="header-links">
      <a
        routerLink="/nosotros"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Nosotros</a
      >
      <a
        routerLink="/servicios"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Servicios</a
      >
      <a
        routerLink="/industrias"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Industrias</a
      >
      <a
        routerLink="/contacto"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Contacto</a
      >
      <a
        routerLink="/blog"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Blog</a
      >
    </div>
  </div>
</div>
