<div class="header-container">
  <div class="header-body">
    <a href="/inicio">
      <img src="assets/svg/biocron_logo_primary_dark.svg" />
    </a>
    <div class="header-links">
      <a routerLink="/nosotros">{{ headerTags?.aboutUsTag }}</a>
      <a routerLink="/servicios">{{ headerTags?.servicesTag }}</a>
      <a routerLink="/industrias">{{ headerTags?.industriesTag }}</a>
      <a routerLink="/contacto">{{ headerTags?.contactUsTag }}</a>
      <a routerLink="/blog">{{ headerTags?.blogTag }}</a>
    </div>
  </div>
</div>
