@import '../home.component.scss';

.home-key-services-container {
  display: flex;
  flex-direction: column;

  gap: 32px;

  margin-block: 80px;

  @media screen and (max-width: 968px) {
    margin-inline: 16px;
  }

  align-items: center;
  justify-content: center;

  .key-services-cards {
    width: 100%;

    @media screen and (min-width: 969px) and (max-width: 1200px) {
      max-width: 1000px;
    }

    @media screen and (max-width: 816px) {
      max-width: 400px;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 24px;
    justify-content: center;
  }
}
