@import '../home.component.scss';

.home-key-services-container {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  margin-block: 5rem;
  margin-inline: 9.75rem;

  align-items: center;
  justify-content: center;

  .key-services-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 1.5rem;
    justify-content: space-between;
  }
}
