<div
  class="especial-heading-container"
  [ngStyle]="{
    'background-image': 'url(' + backgroundImage.media.url + ')',
  }"
>
  <div class="view-heading">
    <div class="view-heading-section">
      <button
        class="view-tag p-button p-button-outlined p-button-rounded primary-font"
        disabled
      >
        {{ viewName }}
      </button>
    </div>
    <div class="view-heading-title primary-font">{{ viewTitle }}</div>
    <div class="view-heading-description secondary-font">
      {{ viewDescription }}
    </div>
  </div>
</div>
