@import '../about-us.component.scss';

.view-heading-compact {
  padding-top: 0;
}

.view-heading-padded {
  padding-top: 10rem;

  @media screen and (max-width: 768px) {
    padding-top: 120px;
  }
}

.especial-heading-container {
  width: 100%;
  padding-bottom: 8.75rem;

  justify-items: center;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .view-heading {
    align-self: center;
    justify-self: center;

    width: 46.5rem;
    gap: 1.5rem;

    margin-inline: auto;

    @media screen and (max-width: 968px) {
      width: 100%;
      padding-inline: 16px;
    }

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    text-align: center;

    .view-heading-section {
      width: 100%;
      align-self: center;

      .view-tag {
        font-size: 1rem;
        padding: 0.75rem 1rem;
      }
    }

    .view-heading-title {
      width: 100%;
      line-height: 5rem;

      font-size: 48px;
      font-weight: 600;

      @media screen and (max-width: 375px) {
        font-size: 36px;
      }

      background: -webkit-linear-gradient(
        45deg,
        $primaryDarkColor,
        $secondaryDarkColor,
        $primaryLightColor
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .view-heading-description {
      width: 100%;
      white-space: break-spaces;
      text-wrap: pretty;
      line-height: 1.5rem;

      @media screen and (max-width: 375px) {
        font-size: 12px;
      }
    }
  }
}
