<div class="form flex flex-row" *ngIf="content">
  <div
    class="form-image-box"
    [title]="sideImage ? sideImage.alt : ''"
    [ngStyle]="{
      'background-image': sideImage ? 'url(' + sideImage.media.url + ')' : '',
    }"
  >
    <div class="form-side-image-gradient"></div>
    <div class="form-side-image-quote">
      <p class="quote secondary-font">{{ content.quote }}</p>
      <p class="quote-author tertiary-font">- {{ content.quote_author }}</p>
    </div>
  </div>
  <div
    class="form-wrapper flex-column align-items-center md:align-items-start flex"
  >
    <div class="form-heading">
      <h3 class="form-heading-title primary-font">{{ content.title }}</h3>
      <p class="form-heading-description secondary-font">
        {{ content.description }}
      </p>
    </div>
    <form class="form-inputs" [formGroup]="contactForm">
      <div class="input-name">
        <label for="contact_name" class="input-title tertiary-font">{{
          content.contact_name.label
        }}</label>
        <input
          class="secondary-font"
          id="contact_name"
          type="text"
          formControlName="name"
          [placeholder]="content.contact_name.placeholder"
          pInputText
        />
      </div>
      <div class="input-email">
        <label for="contact_email" class="input-title tertiary-font">{{
          content.email.label
        }}</label>
        <input
          class="secondary-font"
          id="contact_email"
          type="email"
          formControlName="email"
          [placeholder]="content.email.placeholder"
          pInputText
        />
      </div>
      <div class="input-phone">
        <label for="contact_phone" class="input-title tertiary-font">{{
          content.phone.label
        }}</label>
        <p-inputmask
          id="contact_phone"
          class="input-contact-phone secondary-font"
          type="text"
          formControlName="phone"
          [mask]="content.phone.placeholder"
          [placeholder]="content.phone.placeholder"
        />
      </div>
      <div class="input-message">
        <label for="message" class="input-title tertiary-font">{{
          content.message.label
        }}</label>
        <textarea
          pTextarea
          class="input-style secondary-font"
          id="message"
          rows="6"
          formControlName="message"
          [placeholder]="content.message.placeholder"
          pTextArea
        ></textarea>
      </div>
    </form>
    <button
      pButton
      class="input-button"
      [disabled]="!contactForm.valid"
      (click)="onSubmit()"
    >
      {{ content.button_text }}
    </button>
  </div>
</div>
