<div class="card">
  <div class="background">
    <div
      class="background-image"
      [ngStyle]="{ 'background-image': 'url(' + background_image + ')' }"
    ></div>
    <div class="background-gradient background-gradient-dark"></div>
  </div>
  <div class="card-info card-info-dark">
    <div class="card-name">{{ name }}</div>
    <div class="card-title">{{ title }}</div>
    <div class="card-description">
      <div class=".">
        {{ description }}
      </div>
    </div>
  </div>
</div>
