@import '../key-services.component.scss';

.card {
  border-radius: 8px;

  height: 360px;
  width: 360px;

  @media screen and (max-width: 576px) {
    height: 320px;
    width: 320px;
  }

  @media screen and (max-width: 480px) {
    height: 280px;
    width: 280px;
    
  }

  transition: all 0.4s ease-out;
  transition-behavior: allow-discrete;

  display: grid;
  

  .background {
    width: 100%;
    height: 100%;

    grid-row: 1;
    grid-column: 1;

    border-radius: 8px;

    display: grid;

    .background-image {
      grid-row: 1;
      grid-column: 1;

      height: 100%;
      width: 100%;
      border-radius: 8px;
      background-position: center;

      background-size: cover;

      background-color: $primaryLightColor;
    }

    .background-gradient {
      grid-row: 1;
      grid-column: 1;

      display: flex;
      align-self: flex-end;

      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    .background-gradient-dark {
      height: 50%;
      background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        $primaryDarkColor 73%
      );

      transition: all 0.4s ease-out;
      transition-behavior: allow-discrete;
    }
  }

  .card-info {
    grid-row: 1;
    grid-column: 1;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 0.25rem;

    justify-content: end;

    padding-inline: 24px;
    padding-bottom: 24px;

    color: $contrastWhite;

    .card-name {
      font-size: 0.75rem;
      line-height: 0.875rem;
    }

    .card-title {
      font-size: 24px;
      line-height: 2rem;
    }

    .card-description {
      font-size: 0.875rem;
      line-height: 1rem;

      display: grid;
      grid-template-rows: 0fr;

      transition: all 0.4s ease-out;
      transition-behavior: allow-discrete;
    }

    .card-description > div {
      overflow: hidden;
    }
  }
}

  .card:hover {
    height: 380px;
    width: 380px;

    @media screen and (max-width: 576px) {
      height: 340px;
      width: 340px;
    }

    @media screen and (max-width: 480px) {
      height: 300px;
      width: 300px;
    }

    .background {
      .background-gradient-dark {
        height: 100%;
      }
    }

    .card-info {
      .card-description {
        grid-template-rows: 1fr;
      }
    }
  }
