@import '../home.component.scss';

.clients-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 9.75rem;
  padding-block: 5rem;

  gap: 2.5rem;

  align-content: center;

  background-color: $iconGray;

  .clients-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

    align-items: center;

    .content-image {
      height: 22.5rem;

      border-radius: 0.5rem;

      img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .content-section {
      display: flex;
      flex-direction: column;

      gap: 1.5rem;

      align-items: flex-start;

      text-align: start;

      .content-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 0.75rem;

        .tag {
          font-size: 1rem;
          padding: 0.75rem 1rem;
        }

        .title {
          font-size: 3rem;
          font-weight: bold;
          line-height: 3.5rem;
        }
      }

      .description {
        line-height: 1.5rem;
        text-wrap: pretty;
      }
    }
  }

  .clients-logos-carousel {
    display: grid;
    overflow: hidden;

    .carousel-gradient {
      grid-row: 1;
      grid-column: 1;
      width: 100%;

      z-index: 1;
      background: linear-gradient(
        to right,
        $iconGray,
        transparent 10%,
        transparent 90%,
        $iconGray 100%
      );
    }

    .clients-carousel {
      overflow: hidden;
      grid-row: 1;
      grid-column: 1;

      .carousel-image {
        mix-blend-mode: luminosity;
        object-fit: contain;
      }
    }
  }
}

// Custom styling of carousel item to allow for unequal width elements with equal "gap" between them
:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-item {
  flex: 0 !important;
  margin-left: 2.25rem !important;

  background-color: $iconGray;
}
