@import '../industries.component.scss';

.team-container {
  display: grid;
  height: 26.25rem;
  width: 70.5rem;
  align-self: center;
  justify-self: center;

  border-radius: 1rem;

  .team-background-image {
    grid-row: 1;
    grid-column: 1;

    border-radius: 1rem;

    background-image: url('/assets/svg/biocron_us_card_background_image.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .team-background-gradient {
    grid-row: 1;
    grid-column: 1;

    border-radius: 1rem;

    opacity: 90%;

    background-image: url('/assets/svg/biocron_us_card_background_gradient.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .team-content{
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    align-self: flex-end;

    margin-left: 3rem;
    margin-bottom: 2.5rem;


    max-width: 32.375rem;

    color: $unpureWhite;

    .team-content-title{
        font-weight: bold;

        font-size: 2.5rem;
    }

  }
}
