<div
  class="view-heading"
  [ngClass]="compact ? 'view-heading-compact' : 'view-heading-padded'"
>
  <div class="view-heading-section">
    <button
      *ngIf="viewName"
      class="view-tag p-button p-button-outlined p-button-rounded"
      disabled
    >
      {{ viewName }}
    </button>
  </div>
  <div *ngIf="viewTitle" class="view-heading-title">{{ viewTitle }}</div>
  <div *ngIf="viewDescription" class="view-heading-description">
    {{ viewDescription }}
  </div>
</div>
