@import '../about-us.component.scss';

.why-us-container {
  display: flex;
  flex-direction: column;
  width: auto;

  gap: 2.5rem;

  padding-top: 7rem;
  padding-bottom: 5rem;

  @media screen and (max-width: 767px) {
    margin-inline: 14px;
  }

  align-items: center;
  justify-content: center;

  .title-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;

    .title {
      font-size: 3rem;
      font-weight: bold;

      line-height: 3.5rem;
    }

    .description {
      line-height: 1.5rem;
    }
  }
  .reasons {
    width: 744px;
    gap: 1.5rem;

    @media screen and (max-width: 767px) {
      width: auto;
    }

  }

  .input-button {

    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 600;
  }
}
