<div class="why-us-container">
  <div class="title-section">
    <h3 class="title primary-font">{{ whyUsContent.title }}</h3>
    <p class="description secondary-font">{{ whyUsContent.description }}</p>
  </div>
  <div class="reasons flex-column flex flex-wrap md:flex-row">
    <comp-reason-card
      *ngFor="let reason of whyUsContent.reasons"
      [title]="reason.title"
      [description]="reason.description"
    ></comp-reason-card>
  </div>
  <button pButton class="input-button primary-font" (click)="goToContactUs()">
    {{ 'Contáctenos' }}
  </button>
</div>
