<div class="article-view-container" *ngIf="article">
  <div class="article-head">
    <div class="article-tag">
      <button *ngIf="article!.tag" class="tag p-button" disabled>
        {{ article!.tag }}
      </button>
    </div>
    <div class="article-headline">
      {{ article!.title }}
    </div>
    <div class="article-date-published">
      {{ article!.datePublished | date : 'MMMM d, y' }}
    </div>
  </div>
  <div class="article-content"></div>
  <div class="article-footer">
    <div class="article-author">
      <b>{{ articleContent.author }}</b
      >{{ article!.author }}
    </div>
    <div class="article-link">
      <div>{{ articleContent.read_more }}</div>
      <a [href]="article!.originalPostLink" target="_blank">
        {{ articleContent.link }}
      </a>
    </div>
  </div>
</div>
