<div class="home-container">
  <comp-hero
    *ngIf="heroContent && heroImages"
    [images]="heroImages"
    [title]="heroContent.title"
    [description]="heroContent.description"
    [buttonText]="heroContent.buttonText"
  ></comp-hero>
  <!-- <comp-home-about-us
    *ngIf="
      aboutUsContent && aboutUsBackgroundImage && aboutUsBackgroundParticles
    "
    [backgroundImage]="aboutUsBackgroundImage.media.url"
    [backgroundParticles]="aboutUsBackgroundParticles.media.url"
    [tag]="aboutUsContent.tag"
    [description]="aboutUsContent.description"
  ></comp-home-about-us>
  <comp-home-key-services
    *ngIf="servicesHead"
    [viewName]="servicesHead.name"
    [viewTitle]="servicesHead.title"
  >
  </comp-home-key-services>
  <comp-clients
    *ngIf="clientsContent && clientsSideImage && clientsLogos"
    [sideImage]="clientsSideImage"
    [tag]="clientsContent.tag"
    [title]="clientsContent.title"
    [description]="clientsContent.description"
    [buttonText]="clientsContent.button_text"
    [clientLogos]="clientsLogos"
  ></comp-clients>

  <comp-home-contact-us
    *ngIf="contactUsContent"
    [tag]="contactUsContent.tag"
    [title]="contactUsContent.title"
    [formContent]="contactUsContent.form_content"
  >
  </comp-home-contact-us> -->
</div>
