@import '../../../styles.scss';

.footer {
  width: 100%;
  height: 34.75rem;
  display: grid;

  .footer-background-gradient {
    grid-row: 1;
    grid-column: 1;
    background-image: url('/assets/svg/footer_gradiente.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .footer-background-particles {
    grid-row: 1;
    grid-column: 1;
    opacity: 0.3;
    mix-blend-mode: soft-light;
    background-image: url('/assets/svg/footer_logos.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .footer-card {
    grid-row: 1;
    grid-column: 1;
    z-index: 0;

    align-self: center;
    justify-self: center;

    width: 70.5rem;
    height: fit-content;
    padding-block: 4rem;
    padding-inline: 5rem;
    border-radius: 2.5rem;
    background-color: $unpureWhite;

    .footer-card-body {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
          width: 22.25rem;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          img {
            width: 9.5rem;
          }

          .text {
            color: $lightgray;
          }
        }
        .menu {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;

          align-items: center;

          a {
            color: $lightgray;
            text-decoration: none;
            padding-inline: 0.75rem;
            padding-block: 0.375rem;
          }
        }
      }

      .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .bottom-vertical {
          display: flex;
          flex-direction: column;
          justify-content: end;
        }

        .down-left {
          width: 28.5rem;
          height: fit-content;

          display: flex;
          flex-direction: column;
          gap: 1rem;

          font-size: 0.75rem;
          color: $lightgray;

          .legal {
            display: flex;
            gap: 2rem;
          }
        }

        .social {
          width: 10.5rem;
          display: flex;
          flex-direction: column;
          gap: 0.875rem;

          .contact-us {
            color: $primaryDarkColor;
            text-align: center;
          }

          .social-buttons {
            display: flex;
            justify-content: space-between;

            .social-button {
              background-color: $iconGray;
              border-radius: 50%;
              height: 3rem;
              width: 3rem;
              padding: 0.75rem;

              img {
                margin: auto;
                width: 100%;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
