<div class="footer">
  <div class="footer-background-gradient"></div>
  <div class="footer-background-particles"></div>
  <div class="footer-card">
    <div class="footer-card-body">
      <div class="top">
        <div class="logo">
          <img
            src="assets/svg/biocron_logo_primary_dark.svg"
            alt="Logo Biocron"
          />
          <div class="text">
            El aliado experto en geociencias y desarrollo sostenible para la
            extracción y obtención responsable de recursos.
          </div>
        </div>
        <div class="menu">
          <a routerLink="/nosotros">Nosotros</a>
          <a routerLink="/servicios">Servicios</a>
          <a routerLink="/industrias">Industrias</a>
          <a routerLink="/blog">Lo último</a>
          <a routerLink="/contacto">Contacto</a>
        </div>
      </div>
      <div class="bottom">
        <div class="bottom-vertical">
          <div class="down-left">
            <div class="legal">
              <a>Términos de uso</a>
              <a>Política de privacidad</a>
              <a>Política de tratamiento de datos</a>
            </div>
            <div>
              <div class="copyright">
                © 2024 Biocron. Todos los derechos reservados.
              </div>
            </div>
          </div>
        </div>
        <div class="social">
          <div class="contact-us">Conecte con Biocron</div>
          <div class="social-buttons">
            <div class="social-button">
              <img src="/assets/svg/biocron_instagram_icon.svg" />
            </div>
            <div class="social-button">
              <img src="/assets/svg/biocron_linkedin_icon.svg" />
            </div>
            <div class="social-button">
              <img src="/assets/svg/biocron_email_icon.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
