<div class="card">
  <div class="background">
    <div
      class="background-image"
      [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
    ></div>
    <div
      class="background-gradient"
      [ngClass]="
        position === 0 || position === 3
          ? 'background-gradient-dark'
          : 'background-gradient-light'
      "
    ></div>
  </div>
  <div
    class="card-info"
    [ngClass]="
      position === 0 || position === 3 ? 'card-info-dark' : 'card-info-light'
    "
  >
    <h2 class="card-title primary-font">{{ title }}</h2>
    <p class="card-description secondary-font">{{ description }}</p>
    <div class="card-deep-description secondary-font">
      <p class="." [innerHTML]="deep_description"></p>
    </div>
  </div>
</div>
