<div class="home-contact-us-container">
  <div class="content-container">
    <div class="section-heading">
      <button
        class="view-tag primary-font p-button p-button-outlined p-button-rounded"
        disabled
      >
        {{ tag }}
      </button>

      <h2 class="title primary-font text-center">{{ title }}</h2>
    </div>
    <form class="form-inputs" [formGroup]="contactForm" *ngIf="formContent">
      <div class="top-section flex-column flex lg:flex-row">
        <div id="email-input" class="text-input">
          <label for="email">{{ formContent.email.label }}</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            [placeholder]="formContent.email.placeholder"
            pInputText
            required
          />
        </div>
        <div id="name-input" class="text-input">
          <label for="name">{{ formContent.name.label }}</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            [placeholder]="formContent.name.placeholder"
            pInputText
            required
          />
        </div>
      </div>
      <div class="message-input">
        <label for="message" class="title-input">{{
          formContent.message.label
        }}</label>
        <textarea
          id="message"
          class="secondary-font"
          rows="6"
          formControlName="message"
          [placeholder]="formContent.message.placeholder"
          pTextArea
          required
        ></textarea>
      </div>
      <button
        pButton
        [disabled]="!contactForm.valid"
        class="button-input primary-font"
        ((click))="onSubmit()"
      >
        {{ formContent.button_text }}
      </button>
    </form>
  </div>
</div>
